<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">

<test name ="Regression Test">
	<groups>
		<run>
			<include name ="Regression"> </include>
			<include name ="Sanity"> </include>
		</run>
	</groups>
</test>
	

	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>

	<test name="Test">
		<parameter name="os" value="windows" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testCases.TC_001_AccountRegistrationTest" />
			<class name="testCases.TC_002_LoginTest" />
			<class name="testCases.TC_003_LoginDDT" />
			<class name="testCases.TC_004_ProductSearchTest" />
			<class name="testCases.TC_005_TabletMenuTest" />
			<class name="testCases.TC_006_LogoTest" />
			<class name="testCases.TC_007_CurrencyDropdownTest" />
			<class name="testCases.TC_008_CheckoutOptionTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
